<h2>Option</h2>
<fieldset>
  <legend>Choose format:</legend>

  <form class="stackoverflow" [formGroup]="form">
    <div>
      <input type="radio" id="symbols-and-chars" formControlName="symbols" [value]="symbolsFormats.SymbolsAndCharacters"
             checked>
      <label for="symbols-and-chars">Characters and their symbols (<kbd>⇧ Shift</kbd>&nbsp;<kbd>⌘
          Command</kbd>&nbsp;<kbd>⌫ Delete</kbd>…)</label>
    </div>

    <div>
      <input type="radio" id="only-chars" formControlName="symbols" [value]="symbolsFormats.OnlyCharacters">
      <label for="only-chars">Characters only (<kbd>Shift</kbd>&nbsp;<kbd>Command</kbd>&nbsp;<kbd>Delete</kbd>…)</label>
    </div>

    <div>
      <input type="radio" id="only-symbols" formControlName="symbols" [value]="symbolsFormats.OnlySymbols">
      <label for="only-symbols">Symbols only (<kbd>⇧</kbd>&nbsp;<kbd>⌘</kbd>&nbsp;<kbd>⌫</kbd>…)</label>
    </div>

    <br>

    <div>
      <input type="checkbox" formControlName="separator" id="separator">
      <label for="separator">Use <kbd>+</kbd> separator (<kbd>⌘</kbd> + <kbd>S</kbd>)</label>
    </div>

    <div>
      <input type="checkbox" formControlName="shiftIn" id="shift-in">
      <label for="shift-in">Shift number row (output <kbd>!</kbd><kbd>@</kbd><kbd>#</kbd> instead of
        <kbd>1</kbd><kbd>2</kbd><kbd>3</kbd>)</label>
    </div>
  </form>
</fieldset>
